<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1{
        color: darkblue;
    }
    p{
        
        border: 1px solid black;
    }
</style>
<body>
    <h1>Welcome to my page </h1>
    <ul>
        <li>Apple</li>
        <li>Mango</li>
        <li>Grapes</li>
        <li>Banana</li>
        <li>Pineapple</li>
    </ul>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta quos quasi et corporis? Quo blanditiis, commodi consequuntur doloribus voluptatem corrupti eum hic voluptatum aliquid voluptates tenetur, magnam obcaecati reiciendis vel.
    Neque culpa sit voluptates quibusdam nobis quis explicabo ut vel quae veritatis deserunt illo consectetur tempora ea quidem animi officia accusamus porro, inventore excepturi numquam. Corporis est consequuntur voluptatum numquam?
    Vitae enim, laudantium fugit neque quasi optio, sunt quia quam incidunt in similique? Iure delectus, molestiae vero esse ex, deserunt expedita, incidunt obcaecati praesentium non enim sit distinctio nisi possimus.
    Distinctio labore iste hic voluptatibus velit est cum soluta sint porro illo cupiditate repellendus ex id animi, placeat adipisci sed rem facilis quidem, sit dolores unde commodi! Nobis, dolores impedit?
    Doloribus sed est, officia qui obcaecati placeat similique, officiis minima ut velit nulla, consequatur reprehenderit cum repellendus sequi! Neque consequuntur doloribus tempora ab voluptates voluptatem commodi asperiores minima ducimus officia!</p>
    
</body>
</html>